In [ ]:
Q1. Explain with an example each when to use a for loop and a while loop.

* for loop :-
A for loop is used for iterating over a sequence (that is either a list, a tuple, a dictionary, a set, or a string).

for example : If we want to create a table of two then we apply for loop in folllowing manner -

In [3]:
l = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
for i in l :
    print(i*2)

2
4
6
8
10
12
14
16
18
20

In [ ]:
in above example we consider a list as l and take number fron 1 to 10. When we apply for loop in first iteration i = 1 and this one is multiply by 2 
therefore we get the output 2 in first position. Similarly all iterations work like that and we get the table of two as a output.

In [ ]:
* while loop
A while loop statement in Python programming language repeatedly executes a target statement as long as a given condition is true.

for example : If we want to create a table of 30 then we apply while loop in following manner -

In [4]:
a = 30
while a <= 300 :
    print(a)
    a = a +30

30
60
90
120
150
180
210
240
270
300

In [ ]:
In above example first we declare a = 30, When we apply while loop first it check a <= 300 or not if the condition is true it print a and
further a is updated by 30 and we get the updated value as a output in sequential manner.

In [5]:
## Q2. Write a python program to print the sum and product of the first 10 natural numbers using for and while loop
# Sum of first 10 natural numbers using for loop

l = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

a = 0
for i in l :
    a = a + i
a

55

In [7]:
# product of first 10 natural numbers using for loop

l = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

a = 1
for i in l :
    a = a * i
a

3628800

In [8]:
## sum of first 10 natural numbers using while loop
num = int(input("Enter your number"))
if num < 0:
    print("Invalid Number")
else :
    sum = 0
    while num > 0:
        sum = sum + num
        num = num -1
        print(sum)

Enter your number 10

10
19
27
34
40
45
49
52
54
55

In [9]:
## product of first 10 natural numbers using while loop
num = int(input("enter your number"))
factorial = 1
while num > 0:
    factorial = factorial * num
    num = num - 1
factorial

enter your number 10

3628800

In [3]:
'''Q3. Create a python program to compute the electricity bill for a household.The per-unit charges in rupees are as follows: For the first 100 units,
the user will be charged Rs. 4.5 per unit, for the next 100 units, the user will be charged Rs. 6 per unit, and for the next 100 units, 
the user willbe charged Rs. 10 per unit, After 300 units and above the user will be charged Rs. 20 per unit.You are required to take the 
units of electricity consumed in a month from the user as input.Your program must pass this test case: when the unit of electricity consumed
by the user in a month is 310, the total electricity bill should be 2250.'''

u = int(input("Enter Your Units"))
if u <= 100:
    bill = 4.5*u
    print(bill)
elif u > 100 and u <= 200:
    bill = 6*u
    print(bill)
elif u > 200 and u <= 300:
    bill = 10*u
    print(bill)
elif u > 300:
    bill = 20*u
    print(bill)
else :
    print("invalid input")

Enter Your Units 120

720

In [1]:
'''Q4. Create a list of numbers from 1 to 100. Use for loop and while loop to calculate the cube of each
number and if the cube of that number is divisible by 4 or 5 then append that number in a list and print that list'''

# for loop

l = list(range(1,101))

In [2]:
l

[1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 31,
 32,
 33,
 34,
 35,
 36,
 37,
 38,
 39,
 40,
 41,
 42,
 43,
 44,
 45,
 46,
 47,
 48,
 49,
 50,
 51,
 52,
 53,
 54,
 55,
 56,
 57,
 58,
 59,
 60,
 61,
 62,
 63,
 64,
 65,
 66,
 67,
 68,
 69,
 70,
 71,
 72,
 73,
 74,
 75,
 76,
 77,
 78,
 79,
 80,
 81,
 82,
 83,
 84,
 85,
 86,
 87,
 88,
 89,
 90,
 91,
 92,
 93,
 94,
 95,
 96,
 97,
 98,
 99,
 100]

In [3]:
l1 = []
for i in l:
    cube = i*i*i
    l1.append(cube)

In [4]:
l1

[1,
 8,
 27,
 64,
 125,
 216,
 343,
 512,
 729,
 1000,
 1331,
 1728,
 2197,
 2744,
 3375,
 4096,
 4913,
 5832,
 6859,
 8000,
 9261,
 10648,
 12167,
 13824,
 15625,
 17576,
 19683,
 21952,
 24389,
 27000,
 29791,
 32768,
 35937,
 39304,
 42875,
 46656,
 50653,
 54872,
 59319,
 64000,
 68921,
 74088,
 79507,
 85184,
 91125,
 97336,
 103823,
 110592,
 117649,
 125000,
 132651,
 140608,
 148877,
 157464,
 166375,
 175616,
 185193,
 195112,
 205379,
 216000,
 226981,
 238328,
 250047,
 262144,
 274625,
 287496,
 300763,
 314432,
 328509,
 343000,
 357911,
 373248,
 389017,
 405224,
 421875,
 438976,
 456533,
 474552,
 493039,
 512000,
 531441,
 551368,
 571787,
 592704,
 614125,
 636056,
 658503,
 681472,
 704969,
 729000,
 753571,
 778688,
 804357,
 830584,
 857375,
 884736,
 912673,
 941192,
 970299,
 1000000]

In [5]:
l2 = []
for i in l:
    cube = i*i*i
    if cube%4 == 0 or cube%5 ==0:
        print(cube)

8
64
125
216
512
1000
1728
2744
3375
4096
5832
8000
10648
13824
15625
17576
21952
27000
32768
39304
42875
46656
54872
64000
74088
85184
91125
97336
110592
125000
140608
157464
166375
175616
195112
216000
238328
262144
274625
287496
314432
343000
373248
405224
421875
438976
474552
512000
551368
592704
614125
636056
681472
729000
778688
830584
857375
884736
941192
1000000

In [1]:
# while loop
a =1
while a <= 100:
    r = a*a*a
    if r%4==0 or r%5==0:
        print(r)
    a = a + 1

8
64
125
216
512
1000
1728
2744
3375
4096
5832
8000
10648
13824
15625
17576
21952
27000
32768
39304
42875
46656
54872
64000
74088
85184
91125
97336
110592
125000
140608
157464
166375
175616
195112
216000
238328
262144
274625
287496
314432
343000
373248
405224
421875
438976
474552
512000
551368
592704
614125
636056
681472
729000
778688
830584
857375
884736
941192
1000000

In [3]:
'''Q5. Write a program to filter count vowels in the below-given string.
string = "I want to become a data scientist"'''

string = "I want to become a data scientist"
vowel = 0
for i in string:
    if(i=='a' or i=='e' or i=='i' or i=='o' or i=='u'or i=='I'):
        vowel = vowel + 1
        print("vowels are")
        print(vowel)

vowels are
1
vowels are
2
vowels are
3
vowels are
4
vowels are
5
vowels are
6
vowels are
7
vowels are
8
vowels are
9
vowels are
10
vowels are
11
vowels are
12